body {
    font-family: Roboto, sans-serif;
}

.container {
    width: 1124px;
    margin: o auto;
}

.heading {
    min-height: 1095px;
    background: url(../img/bg.jpg) center center/cover no-repeat;
}


.navigation {
    padding-top: 55px;
}

.navigation ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.navigation li {
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
}

.navigation li a {
    color: #fff;
    text-align: center;
    text-decoration: none;
}

/* .navigation li a:hover {
    background-color: #6400E3;
    display: block;
    border-radius: 20px;
    width: auto;
} */

.nickname {
    display: block;
    margin: 0 auto;
    margin-top: 48px;
}

.name {
    display: flex;
    justify-content: center;
}

.name .psds {
    font-weight: 500;
    font-size: 72px;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 84px;
}

.name .fr {
    font-weight: 500;
    font-size: 72px;
    color: #6400E3;
    line-height: 84px;
}

.name .om {
    font-weight: 500;
    font-size: 72px;
    color: #9B00E3;
    line-height: 84px;
}

.name .hand {
    font-weight: 200;
    font-size: 72px;
    text-transform: uppercase;
    line-height: 84px;
    color: #FFFFFF;
}

.name .jellering {
    font-weight: 400;
    font-size: 72px;
    text-transform: uppercase;
    line-height: 84px;
    color: #FFFFFF;
}

.little_desc {
    margin-top: 20px;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    text-align: center;

    color: #FFFFFF;
}

.big_desc {
    margin-top: 85px;
    padding: 0 60px;
    font-weight: 400;
    font-size: 29px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

.order {
    display: block;
    margin: 124px auto 0 auto;
    width: 362px;
    height: 63px;
    background: linear-gradient(180deg, rgba(100, 0, 227, 0.69) 0%, #36007B 100%);
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.25);
}

.icon {
    margin: 36px auto 116px auto;
    padding-top: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 71px;
    height: 71px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3525) 0%, rgba(0, 0, 0, 0.1786) 100%);
    border-radius: 50%;
}

.link .underline {
    opacity: 0;
    margin-top: 2px;
    background-color: #6400E3;
    display: block;
    border-radius: 20px;
    width: auto;
    height: 4px;
}

.link:hover .underline {
    opacity: 1;
    transition:  opacity .3s;
}

.design_types {
    min-height: 1030px;
    background: url(../img/pattern.png) center center/cover no-repeat;
}

.headline {
    width: 684px;
    margin: 0 auto;
    padding-top: 85px;

}

.no_color {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    text-align: center;;
    color: #000000;

}

.with_color {
    width: 332px;
    margin: 0 auto;
}

.color_1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;

    color: #6400E3;
}

.color_2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    margin-left: 5px;
    color: #9B00E3;
}

.types {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}

.image_name {
    position: relative;
}

.type {
    position: relative;
    height: 577px;
}

.type .price {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 99px;
    height: 99px;
    border-radius: 50%;
    bottom: -4px;
    left: 49%;
    transform: translateX(-50%);
}

.first .price {
    background: linear-gradient(180deg, #5E00D7 0%, #4B00AB 100%);
}

.second .price {
    background: linear-gradient(180deg, #9B00E3 0%, #7C00B6 100%);
}

.third .price {
    background: linear-gradient(180deg, #D100E3 0%, #9A00A8 100%);
}

.first .color {
    margin-top: 0;
    color: #6400E3;
}

.second .color {
    margin-top: 0;
    color: #9B00E3;
}

.third .color {
    margin-top: 0;
    color: #D100E3;
}


.price_text {
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
}

.order_design {
    display: block;
    margin: 0 auto;
    width: 246px;
    height: 53px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    border: none;
    font-family: Roboto;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.25);
}

.one {
    background: #6400E3;
    position: absolute;
    top: 520px;
    left: 50%;
    transform: translateX(-50%);
}

.two {
    background: #9B00E3;
    position: absolute;
    top: 520px;
    left: 50%;
    transform: translateX(-50%);
}

.three {
    background: #D100E3;
    position: absolute;
    top: 520px;
    left: 50%;
    transform: translateX(-50%);
}

.name_set {
    margin-top: 18px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.equipment {
    margin: 0 auto;
    margin-top: 17px;
    width: 240px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}

.little_text {
    margin-top: 83px;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #000000;
}

.portfolio {
    min-height: 631px;
    background: url(../img/bg.jpg) center center/cover no-repeat;
}

.portfolio .white {
    display: block;
    width: 400px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
}

.works {
    margin-top: 90px;
    display: flex;
    justify-content: space-around;
}

.picture {
    width: 197px;
    height: 197px;
    background: #FFFFFF;
    border-radius: 25px;   
    margin: 0 13px;
}

.web_avatars .picture {
    background: url("https://sun9-43.userapi.com/impg/MYPmM8-8MViSq6JqTJqKNH4TBofI11JaC-FQ4A/6YGBSXKK0Hc.jpg?size=700x600&quality=96&sign=932d8730c7d2666853cdcdd86df9864f&type=album") center center/cover no-repeat;
}

.mini_avatars .picture {
    background: url("https://sun9-71.userapi.com/impg/K_Zi_5DMTGfR0LiBETvYnEtFkknH8Pg7e48wNQ/DtruI8mpRWs.jpg?size=1100x1004&quality=96&sign=c003c4306f7b31da333bdb567b2df7a0&type=album") center center/cover no-repeat;
}

.menus .picture {
    background: url("https://sun9-28.userapi.com/impg/unZsHGfDMO6IlR-yZipVuc6OZvomq7YEsFkKvQ/iHQiaiIlI5k.jpg?size=1348x1148&quality=96&sign=dd81bd78118992c91fd86c9c2fb900b0&type=album") center center/cover no-repeat;
}


.for_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button_left, .button_right {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3525) 0%, rgba(0, 0, 0, 0.1786) 100%);
    position: relative;
    cursor: pointer;
}

.arrow {
    position: absolute;
    left: 40%;
    top: 50%;
    transform: translateX(-50%);
    transform: translateY(-50%);
}

.arrow_left {
    position: absolute;
    left: 25%;
    top: 50%;
    transform: translateX(-50%);
    transform: translateY(-50%);
}

.name_of_work {
    width: 197px;
    padding: 0 10px;
    margin-top: 20px;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-align: center;
}

.names_of_works {
    display: flex;
    justify-content: space-around;
    align-self: start;

}