body {
    font-family: Roboto, sans-serif;
}

.container {
    width: 1124px;
    margin: 0   auto;
}

.heading {
    min-height: 1095px;
    background: url(../img/bg.jpg) center center/cover no-repeat;
}


.navigation {
    padding-top: 55px;
}

.navigation ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.navigation li {
    font-weight: 300;
    font-size: 30px;
}

.navigation li a {
    color: #fff;
    text-align: center;
    text-decoration: none;
}

/* .navigation li a:hover {
    background-color: #6400E3;
    display: block;
    border-radius: 20px;
    width: auto;
} */

.nickname {
    display: block;
    margin: 0 auto;
    margin-top: 48px;
}

.name {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.name .psds {
    font-weight: 500;
    font-size: 72px;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 84px;
}

.name .fr {
    font-weight: 500;
    font-size: 72px;
    color: #6400E3;
    line-height: 84px;
}

.name .om {
    font-weight: 500;
    font-size: 72px;
    color: #9B00E3;
    line-height: 84px;
}

.name .hand {
    font-weight: 200;
    font-size: 72px;
    text-transform: uppercase;
    line-height: 84px;
    color: #FFFFFF;
}

.name .jellering {
    font-weight: 400;
    font-size: 72px;
    text-transform: uppercase;
    line-height: 84px;
    color: #FFFFFF;
}

.little_desc {
    margin-top: 20px;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    text-align: center;

    color: #FFFFFF;
}

.big_desc {
    margin-top: 85px;
    padding: 0 60px;
    font-weight: 400;
    font-size: 29px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

.order {
    display: block;
    margin: 124px auto 0 auto;
    width: 362px;
    height: 63px;
    background: linear-gradient(180deg, rgba(100, 0, 227, 0.69) 0%, #36007B 100%);
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.25);
}

.icon {
    margin: 36px auto 116px auto;
    padding-top: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 71px;
    height: 71px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3525) 0%, rgba(0, 0, 0, 0.1786) 100%);
    border-radius: 50%;
}

.link {
    height: 55px;
}

.link .underline {
    margin-top: 2px;
    background-color: #6400E3;
    display: block;
    border-radius: 20px;
    width: auto;
    height: 4px;
}

.design_types {
    min-height: 1030px;
    background: url(../img/pattern.png) center center/cover no-repeat;
}

.headline, .header_in_courses {
    width: 684px;
    margin: 0 auto;
    padding-top: 85px;

}

.no_color {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    text-align: center;;
    color: #000000;

}

.with_color {
    width: 332px;
    margin: 0 auto;
}

.color_1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;

    color: #6400E3;
}

.color_2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    margin-left: 5px;
    color: #9B00E3;
}

.header_in_courses {
    width: 255px;
    margin: 0 auto;

}

.header_in_courses .color_2 {
    margin: -4px;
    padding: 0;
}

.types {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}

.image_name {
    position: relative;
}

.type {
    position: relative;
    height: 577px;
}

.type .price {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 99px;
    height: 99px;
    border-radius: 50%;
    bottom: -4px;
    left: 49%;
    transform: translateX(-50%);
}

.first .price {
    background: linear-gradient(180deg, #5E00D7 0%, #4B00AB 100%);
}

.second .price {
    background: linear-gradient(180deg, #9B00E3 0%, #7C00B6 100%);
}

.third .price {
    background: linear-gradient(180deg, #D100E3 0%, #9A00A8 100%);
}

.first .color {
    margin-top: 0;
    color: #6400E3;
}

.second .color {
    margin-top: 0;
    color: #9B00E3;
}

.third .color {
    margin-top: 0;
    color: #D100E3;
}


.price_text {
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
}

.order_design {
    display: block;
    margin: 0 auto;
    width: 246px;
    height: 53px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    border: none;
    font-family: Roboto;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.25);
}

.one {
    background: #6400E3;
    position: absolute;
    top: 520px;
    left: 50%;
    transform: translateX(-50%);
}

.two {
    background: #9B00E3;
    position: absolute;
    top: 520px;
    left: 50%;
    transform: translateX(-50%);
}

.three {
    background: #D100E3;
    position: absolute;
    top: 520px;
    left: 50%;
    transform: translateX(-50%);
}

.name_set {
    margin-top: 18px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.equipment {
    margin: 0 auto;
    margin-top: 17px;
    width: 240px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}

.little_text {
    margin-top: 83px;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #000000;
}

.portfolio {
    min-height: 631px;
    background: url(../img/bg.jpg) center center/cover no-repeat;
}

.portfolio .white {
    display: block;
    width: 400px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
}

.works {
    margin-top: 90px;
    display: flex;
    justify-content: space-around;
}

.picture {
    width: 197px;
    height: 197px;
    background: #FFFFFF;
    border-radius: 25px;   
    margin: 0 13px;
}

.image {
    background: url("https://sun9-43.userapi.com/impg/MYPmM8-8MViSq6JqTJqKNH4TBofI11JaC-FQ4A/6YGBSXKK0Hc.jpg?size=700x600&quality=96&sign=932d8730c7d2666853cdcdd86df9864f&type=album") center center/cover no-repeat;
}

.click_on_left_arrow {
    background: url("https://sun9-36.userapi.com/impg/bpszMiabVUxQD0UMoW4AGNcgO5J9wKEQ5ahccA/NFEjtBL8xA4.jpg?size=750x600&quality=96&sign=b554e74efb756ac24e3fe369cae3b103&type=album") center center/cover no-repeat;
}

.click_on_right_arrow {
    background: url("https://sun9-70.userapi.com/impg/LHkbBdzumWsGahdBAB0692faFrmx6NFEEPgV7A/WeVJTL9IBLQ.jpg?size=800x700&quality=96&sign=204877721c843b376cf53a005c779d57&type=album") center center/cover no-repeat;
}

.mini_avatars .picture {
    background: url("https://sun9-71.userapi.com/impg/K_Zi_5DMTGfR0LiBETvYnEtFkknH8Pg7e48wNQ/DtruI8mpRWs.jpg?size=1100x1004&quality=96&sign=c003c4306f7b31da333bdb567b2df7a0&type=album") center center/cover no-repeat;
}

.menus .picture {
    background: url("https://sun9-28.userapi.com/impg/unZsHGfDMO6IlR-yZipVuc6OZvomq7YEsFkKvQ/iHQiaiIlI5k.jpg?size=1348x1148&quality=96&sign=dd81bd78118992c91fd86c9c2fb900b0&type=album") center center/cover no-repeat;
}


.for_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button_left, .button_right {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3525) 0%, rgba(0, 0, 0, 0.1786) 100%);
    position: relative;
    cursor: pointer;
}

.arrow {
    position: absolute;
    left: 40%;
    top: 50%;
    transform: translateX(-50%);
    transform: translateY(-50%);
}

.arrow_left {
    position: absolute;
    left: 25%;
    top: 50%;
    transform: translateX(-50%);
    transform: translateY(-50%);
}

.name_of_work {
    width: 197px;
    padding: 0 10px;
    margin-top: 20px;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-align: center;
}

.names_of_works {
    display: flex;
    justify-content: space-around;
    align-self: start;

}

.courses {
    min-height: 1030px;
    background: url("../img/pattern_big.png") center center/cover no-repeat;
}

.about_courses {
    margin-top: 32px;
    padding: 0 85px;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;

    color: #000000;
}

.first_course {
    display: grid;
    grid-template-columns: 332px 684px;
    margin-top: 90px;
}

.second_course {
    display: grid;
    grid-template-columns: 684px 332px;
    margin-top: 90px;
}

.first_course img {
    margin: 0 auto;
}

.second_course img {
    margin: 0 auto;
}

.name_of_course {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;

    color: #000000;
}

.second_course .name_of_course {
    text-align: right;
}

.subname {
    font-family: Roboto;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;

    color: #D100E3;
}
.second_course .subname {
    color: #9B00E3;
    text-align: right;
}

.about_course {
    margin-top: 23px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: justify;
    color: #000000;
}

.open_course {
    display: block;
    margin: 21px auto 0 auto;
    width: 253px;
    height: 42px;
    border: none;
    background: #D100E3;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.1);
    border-radius: 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;

    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
}

.second_course .open_course {
    background: #9B00E3;
}

.second_course  {
    padding: 0 0 0 35px;
}

.footer {
    min-height: 200px;
    background-image: url('../img/bg_footer.png');
}

.footer .for_flex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer_nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.our_group {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

.vkontakte {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

.icon_vk {
    margin: 10px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 30px;
    background: #FFFFFF;
    border-radius: 10px;
}

.icon_vk:hover {
    background: #9B00E3;
}

.footer_nav {
    padding-top: 90px;
}

.footer_nav ul {
    list-style: none;
}

.footer_nav li {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
}

.for_margin {
    margin-top: 17px;
}

.footer_logo {
    margin: 0 auto;
}

.text_footer {
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer_nav a {
    color: #FFFFFF;
}

.vk {
    padding-top: 70px;
}

.footer_logo {
    padding-top: 70px;
}

.footer_logo img {
    display: block;
    margin: 0 auto;
}

@media (max-width: 991px) {
    .first_course {
        margin-left: -50px;
    }
    .second_course {
        padding: 0;
        margin-left: -26px;
    }
    .open_course {
        margin-bottom: 7px;
    }
    .text_button_1 {
        width: 550px;
    }
    .text_button_2 {
        width: 550px;
    }
    .second_course .img {
        margin-left: -100px;
    }
    .design_types {
        margin-top: -120px;
    }

    .vk {
        padding-top: 40px;
    }

    .footer_nav {
        padding-top: 70px;
    }

    .footer_logo {
        padding-top: 40px;
    }
}